body{
    margin:0px;
    padding:0px;
    font-family:verdana, arial, helvetica, sans-serif;
    color:#333;
    background-color:white;
}

h1,h2 {
    margin:0px 0px 15px 0px;
    padding:0px;
    font-size:28px;
    line-height:28px;
    font-weight:900;
    color:#ccc;
}

h2 {
    margin: 3px 0px 3px 0px;
    font-size:18px;
    color:#888;
}

p {
    font:11px/20px verdana, arial, helvetica, sans-serif;
    margin:0px 0px 16px 0px;
    padding:0px;
}

a {
    color:#09c;
    font-size:11px;
    text-decoration:none;
    font-weight:600;
    font-family:verdana, arial, helvetica, sans-serif;
}

a:link {color:#09c;}
a:visited {color:#07a;}
a:hover {background-color:#ccc;}
a:hover.Selected { background-color:#000;}

td.Selected{background-color:#eee;}

td{
    padding:0px 10px 0px 0px;
    font-family:verdana, arial, helvetica, sans-serif;
    font-size:11px;
}

tr.title{
    font-weight: bold;
}

tr.ruled{
  background:#9cf;
}

#Header {
    font-size:11px;
    font-family:verdana, arial, helvetica, sans-serif;
    margin:50px 0px 10px 0px;
    padding:17px 0px 0px 20px;
    /* For IE5/Win's benefit height = [correct height] + [top padding] + [top and bottom border widths] */
    height:33px; /* 14px + 17px + 2px = 33px */
    border-style:solid;
    border-color:black;
    border-width:1px 0px; /* top and bottom borders: 1px; left and right borders: 0px */
    line-height:11px;
    background-color:#eee;

/* ugly brilliant.  See http://glish.com/css/hacks.asp for details. */
    voice-family: "\"}\"";
    voice-family:inherit;
    height:14px; /* the correct height */
    }

/*"be nice to Opera 5"*/
body>#Header {height:14px;}

#Header a{
    font-size:13px;
}

#Content {
    margin:0px 50px 50px 200px;
    padding:10px;
}

#Footer{
  position:relative;
}

#Menu {
    position:absolute;
    top:120px;
    left:20px;
    width:172px;
    padding:10px;
    background-color:#eee;
    border:1px dashed #999;
    line-height:17px;
/* Again, the ugly brilliant hack. */
    voice-family: "\"}\"";
    voice-family:inherit;
    width:150px;
}
/* Again, "be nice to Opera 5". */
body>#Menu {width:150px;}

#Menu ul {
     list-style-type: none;
     margin: 0;
     padding: 0;
}

#Menu li li {
    list-style-position: inside;
    list-style-type: circle;
    margin: 0 0 0 10px;
    padding: 0 0 0 10px;
}

#success {color: green;}

#rejected {color: red;}

#new {color: blue;}

#help{
    vertical-align:super;
    border:0;
}

.num{
    text-align:center;
}
