    <properties>
        <eventLag>
            <unit>HOUR</unit>
            <value>0</value>
        </eventLag>
        <eventChannelPairProcessing>noCheck</eventChannelPairProcessing>
    </properties>
    <eventArm>
        <eventFinder>
            <name>$server.name</name>
            <dns>$server.dns</dns>
#if($box)
            <boxArea>
                <latitudeRange>
                    <min>$box.south</min>
                    <max>$box.north</max>
                </latitudeRange>
                <longitudeRange>
                    <min>$box.west</min>
                    <max>$box.east</max>
                </longitudeRange>
            </boxArea>
#end
            <originDepthRange>
                <unit>KILOMETER</unit>
                <min>$depth.min</min>
                <max>$depth.max</max>
            </originDepthRange>
            <originTimeRange>
                <startTime>
                    $begin
                </startTime>
                <endTime>
                    $end
                </endTime>
            </originTimeRange>
            <magnitudeRange>
#if($types)
#foreach($type in $types)
                <magType>$type</magType>
#end
#end
                <min>$magnitude.min</min>
                <max>$magnitude.max</max>
            </magnitudeRange>
#if($catalogs)
#foreach($cat in $catalogs)
            <catalog>$cat</catalog>
#end
#else
            <catalog>PREF</catalog>
#end
        </eventFinder>
#if(!$allowDupes)
        <removeEventDuplicate/>
#end
#if($donut)
        <originPointDistance>
            <unit>DEGREE</unit>
            <min>$donut.min</min>
            <max>$donut.max</max>
            <latitude>$donut.lat</latitude>
            <longitude>$donut.lon</longitude>
        </originPointDistance>
#end
#if($seismicRegions)
#foreach($region in $seismicRegions)
        <seismicRegion>$region</seismicRegion>
#end
#end
#if($geographicRegions)
#foreach($region in $geographicRegions)
        <geographicalRegion>$region</geographicalRegion>
#end
#end
#if($output)
        <printlineEventProcess>
            <template>$output</template>
        </printlineEventProcess>
#end
    </eventArm>
#if($additionalArms.length() > 0)
$additionalArms#end
</sod>
