#if($additionalArms.length() > 0)
$additionalArms#end
    <waveformArm>
#if($sites)
        <siteOR>
#foreach($code in $sites)
            <siteCode>$code</siteCode>
#end
		</siteOR>
#end
#if($channels)
        <embeddedChannel>
            <channelOR>
#foreach($code in $channels)
                <channelCode>$code</channelCode>
#end
            </channelOR>
        </embeddedChannel>
#end
        <phaseRequest>
            <beginPhase>$begin.name</beginPhase>
            <beginOffset>
                <unit>MINUTE</unit>
                <value>$begin.offset</value>
            </beginOffset>
            <endPhase>$end.name</endPhase>
            <endOffset>
                <unit>MINUTE</unit>
                <value>$end.offset</value>
            </endOffset>
        </phaseRequest>
        <fixedDataCenter>
            <name>$server.name</name>
            <dns>$server.dns</dns>
        </fixedDataCenter>
        <sacWriter>
#foreach($header in $mark-phases)
           <phaseTimeHeader>
               <phaseName>$header.phase</phaseName>
               <tHeader>$header.header</tHeader>
           </phaseTimeHeader> 
#end
        </sacWriter>
    </waveformArm>
</sod>