<sod>
    <networkArm>
        <networkFinder>
            <name>$server.name</name>
            <dns>$server.dns</dns>
        </networkFinder>
#if($networks)
        <networkOR>
#foreach($code in $networks)
            <networkCode>$code</networkCode>
#end
        </networkOR>
#end
        <stationAND>
#if($stations)
            <stationOR>
#foreach($code in $stations)
                <stationCode>$code</stationCode>
#end
            </stationOR>
#end
#if($box)
            <stationArea>
                <boxArea>
                    <latitudeRange>
                        <min>$box.south</min>
                        <max>$box.north</max>
                    </latitudeRange>
                    <longitudeRange>
                        <min>$box.west</min>
                        <max>$box.east</max>
                    </longitudeRange>
                </boxArea>
            </stationArea>
#end
#if($donut)
            <stationPointDistance>
                <unit>DEGREES</unit>
                <min>$donut.min</min>
                <max>$donut.max</max>
                <latitude>$donut.lat</latitude>
                <longitude>$donut.lon</longitude>
            </stationPointDistance>
#end
        </stationAND>
#if($sites)
        <siteOR>
#foreach($code in $sites)
            <siteCode>$code</siteCode>
#end
		</siteOR>
#end
        <channelEffectiveTimeOverlap>
            <startTime>
               <year>$begin.year</year>
               <month>$begin.month</month>
               <day>$begin.day</day>
            </startTime>
            <endTime>
#if($end.now)
                <now/>
#else
               <year>$end.year</year>
               <month>$end.month</month>
               <day>$end.day</day>
#end
            </endTime>
        </channelEffectiveTimeOverlap>
#if($channels)
        <channelOR>
#foreach($code in $channels)
            <channelCode>$code</channelCode>
#end
        </channelOR>
#end
#if($format == 'polezero')
        <sacPoleZeroWriter>
#if($responseDirectory)
            <workingDir>$responseDirectory</workingDir>
#end
        </sacPoleZeroWriter>
#else
        <responseWriter>
#if($responseDirectory)
            <workingDir>$responseDirectory</workingDir>
#end
        </responseWriter>
#end
    </networkArm>
</sod>