#set($instance=$def.form)
#set($ann=$instance.annotation)
#set($curBase=$doc.makePath($def))
#set($curLoc="${curBase}.html")

#macro(printDef $exp)$helper.getDefName($exp)#end

#macro(print $exp)$helper.getName($exp)#end

#macro(makeLink $exp)
#set($base = $doc.makePath($exp))
#set($dest = "${base}.html")
<a href="$util.getRelativePath($curLoc, $dest, '/')">#printDef($exp)</a>
#end

#macro(printSibs $item $kids)
<ul>
    #foreach($sib in $kids)
        #if($sib == $item)
        #else
        <li>#makeLink($sib)</li>
        #end
    #end
</ul>
#end

#macro(containment)
    #foreach($item in $walker.getContainingDefs($root, $def))
        <section name="#print($item)">
        #set($rent=$walker.getInstance($root, $item))
        #if($helper.isMultigen($rent))
            #if($helper.isChoice($rent))
                <p>In #makeLink($rent) there is a choice between all of the following</p>
                #set($kids=$rent.children)
                #printSibs($item $kids)
            #elseif($helper.isInterleave($rent))
                <p>In #makeLink(${rent}) in an unordered group with all of the following</p>
                #set($kids=$rent.children)
                #printSibs($item $kids)
            #elseif($helper.isGroup($rent))
                <p>In a group in #makeLink(${rent})</p>
                #foreach($sib in $rent.children)
                        #if($sib == $item)
                            #if($velocityCount > 1)
                                #set($index = $velocityCount - 2)
                                <p>Follows #makeLink($helper.getItem($rent.children, $index))</p>
                            #end
                            #if($velocityCount < $helper.getLen($rent.children) - 1)
                                <p>Followed by #makeLink($helper.getItem($rent.children, $velocityCount))</p>
                            #end
                        #end
                #end
            #end
        #elseif($helper.isGen($rent))
                <p>#makeLink($rent) contains this directly</p>
        #else
            <p>contained in #makeLink($rent)</p>
        #end
        </section>
    #end
#end
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
    #set($name = "#print($def)")
	#set($currentPageTitle = "$name")
	<head>
		#sod_head()
	</head>
	<body>
		#sod_header()
		#sod_menu()
		<div id="content">
			<div class="section">
				<h3>
					<a name="#print($name)">#print($name)
					</a>
				</h3>
		#if($ann.description)
			<p>
			$ann.description
			</p>
        #elseif($ann.summary)
            <p>
            $ann.summary
            </p>
		#end
	</div>
			<div class="section">
				<h3>
					<a name="Example">Example
					</a>
				</h3>
		<pre>$ann.example</pre>
    </div>
        
			<div class="section">
				<h3>
					<a name="This consists of">This consists of
					</a>
				</h3>
			<div id="contained">
				<p>
			$contained
				</p>
			</div>
        </div>
		
        
			<div class="section">
				<h3>
					<a name="Places this can be found">Places this can be found
					</a>
				</h3>
            #containment()
        </div>
       #if($curEl.attributes)
        
			<div class="section">
				<h3>
					<a name="Attributes">Attributes
					</a>
				</h3>
				#foreach($attr in $curEl.attributes)
			<div class="section">
				<h3>
					<a name="$attr.name">$attr.name
					</a>
				</h3>
					<section name="$attr.name">
			<div class="section">
				<h3>
					<a name="Description">Description
					</a>
				</h3>
							<p>
						#if($attr.annotation.description)
$attr.annotation.description
						#elseif($attr.annotation.summary)
$attr.annotation.summary
#end
							</p>
						</div>
			<div class="section">
				<h3>
					<a name="Possible Values">Possible Values
					</a>
				</h3>
							<p>
$attr.child
							</p>
						</div>
					</div>
				#end
			</div>
	   #end
			</div>
    </body>
</html>
