<?xml version="1.0"?>
#set($instance=$def.form)
#set($ann=$instance.annotation)
#set($curBase=$doc.makePath($def))
#set($curLoc="${curBase}.html")

#macro(printDef $exp)$helper.getDefName($exp)#end

#macro(print $exp)$helper.getName($exp)#end

#macro(makeLink $exp)
#set($base = $doc.makePath($exp))
#set($dest = "${base}.html")
<a href="$util.getRelativePath($curLoc, $dest, '/')">#printDef($exp)</a>
#end

#macro(printSibs $item $kids)
<ul>
    #foreach($sib in $kids)
        #if($sib == $item)
        #else
        <li>#makeLink($sib)</li>
        #end
    #end
</ul>
#end

#macro(containment)
    #foreach($item in $walker.getContainingDefs($root, $def))
        <section name="#print($item)">
        #set($rent=$walker.getInstance($root, $item))
        #if($helper.isMultigen($rent))
            #if($helper.isChoice($rent))
                <p>In #makeLink($rent) there is a choice between all of the following</p>
                #set($kids=$rent.children)
                #printSibs($item $kids)
            #elseif($helper.isInterleave($rent))
                <p>In #makeLink(${rent}) in an unordered group with all of the following</p>
                #set($kids=$rent.children)
                #printSibs($item $kids)
            #elseif($helper.isGroup($rent))
                <p>In a group in #makeLink(${rent})</p>
                #foreach($sib in $rent.children)
                        #if($sib == $item)
                            #if($velocityCount > 1)
                                #set($index = $velocityCount - 2)
                                <p>Follows #makeLink($helper.getItem($rent.children, $index))</p>
                            #end
                            #if($velocityCount < $helper.getLen($rent.children) - 1)
                                <p>Followed by #makeLink($helper.getItem($rent.children, $velocityCount))</p>
                            #end
                        #end
                #end
            #end
        #elseif($helper.isGen($rent))
                <p>#makeLink($rent) contains this directly</p>
        #else
            <p>contained in #makeLink($rent)</p>
        #end
        </section>
    #end
#end


<document>
    <properties>
        <title>SOD Strategy File Reference - #print($def) Tag</title>
    </properties>
    <body>
	<section name="#print($def)">
		#if($ann.description)
			<p>
			$ann.description
			</p>
        #elseif($ann.summary)
            <p>
            $ann.summary
            </p>
		#end
	</section>
    <section name="Example">
		<pre>$ann.example</pre>
    </section>
        <section name="This consists of">
			<div id="contained">
				<p>
			$contained
				</p>
			</div>
        </section>
        <section name="Places this can be found">
            #containment()
        </section>
       #if($curEl.attributes)
			<section name="Attributes">
				#foreach($attr in $curEl.attributes)
					<section name="$attr.name">
						#if($attr.annotation.description)
						<section name="Description">
							<p>
$attr.annotation.description
							</p>
						</section>
						#elseif($attr.annotation.summary)
						<section name="Description">
							<p>
$attr.annotation.summary
							</p>
						</section>
						#end
						<section name="Possible Values">
							<p>
$attr.child
							</p>
						</section>
					</section>
				#end
			</section>
		#end
    </body>
</document>
