#set($relativePathToTagDocDir="../")
#set($relativePathToSodDir="../${relativePathToTagDocDir}")
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
#set($currentPageTitle = "NonnegativeInteger Datatype")
<head>
#sod_head()
</head>
<body>
#sod_header()
#sod_menu()
<div id="content">
<div class="section">
<h3>
<a name="Nonnegative Integer">Nonnegative Integer</a>
</h3>
            <p>Any positive integer or zero.</p>
</div>
<div class="section">
<h3>
<a name="Valid Values">Valid Values</a>
</h3>
            <ul>
                <li>123</li>
                <li>+1234</li>
                <li>0</li>
            </ul>
</div>
<div class="section">
<h3>
<a name="Invalid Values">Invalid Values</a>
</h3>
            <ul>
                <li>123.4E 56 - No spaces in the value</li>
                <li>123.6E+2.5 - Power of 10 must be an integer</li>
                 <li>-12 - Must be positive</li>
            </ul>
</div>
</div>
#sod_footer()
</body>
</html>