${tablename}.create=CREATE TABLE ${tablename} (id int, \
                                           last_query timestamp, \
                                           numretries int)
                                           
${tablename}.next=SELECT TOP 1 id FROM ${tablename} WHERE numretries < ? \
                  ORDER BY last_query
                  
#set($willHave = '')

#set($hasNextBase = "SELECT TOP 1 id FROM ${tablename} \
JOIN eventchannelstatus ON (id = pairid) \
JOIN eventaccess ON (eventid = event_id) \
JOIN origin ON (eventaccess.origin_id = origin.origin_id) \
JOIN time on (origin_time_id = time_id) \
WHERE last_query != ? AND numretries < ? AND time_stamp > ?")

${tablename}.hasNext=$hasNextBase AND last_query <= ?
                          
${tablename}.willHaveNext=$hasNextBase

${tablename}.get=SELECT id FROM ${tablename} WHERE id = ?

${tablename}.insert=INSERT INTO ${tablename} (last_query, id, numretries) \
                    VALUES(?, ?, 0)
                    
${tablename}.updateNext=UPDATE ${tablename} SET numretries = numretries + 1, \
                    last_query = ? \
                    WHERE id = ?
                    
${tablename}.updateRetry=UPDATE ${tablename} SET last_query = ? \
                    WHERE id = ?